$light-grey: #3d3d3d;

.f-container {
  padding: 2.5rem;
  border-radius: 3px;
  flex-basis: 44%;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;

  .f-text {
    flex: 2;
    padding-right: 1.4rem;
    .f-title {
      font-size: 3.6rem;
      margin-top: 1rem;
      margin-bottom: 3rem;
    }
    .f-description {
      line-height: 3.2rem;
      font-size: 2.8rem;
      margin-bottom: 4rem;
      color: $light-grey;
    }
    .f-button {
      border-radius: 7px;
      border: 1px solid #0f0f0f;
      padding: 1.6rem 3.2rem;
      text-align: center;
      cursor: pointer;
      font-size: 2.3rem;
      text-decoration: none;
      color: inherit;
      &:hover {
        background-color: rgba(#0f0f0f, 0.1);
      }
    }
  }
  .f-img {
    flex: 1;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 1920px) {
  .f-container {
    padding: 2.2rem;
    .f-text {
      .f-title {
        font-size: 2.8rem;
        margin-bottom: 1.7rem;
      }
      .f-description {
        line-height: 2.2rem;
        font-size: 1.8rem;
        margin-bottom: 2.6rem;
      }
      .f-button {
        font-size: 1.6rem;
        padding: 0.8rem 1.6rem;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .f-container {
    padding: 1.5rem;
    .f-text {
      .f-title {
        font-size: 1.8rem;
        margin-bottom: 1.3rem;
      }
      .f-description {
        font-size: 1.0rem;
        line-height: 1.4rem;
        margin-bottom: 1.8rem;
      }
      .f-button {
        border-radius: 5px;
        font-size: 1.0rem;
        padding: 0.4rem 0.8rem;
      }
    }
  }
}

@media screen and (max-width: 910px) {
  .f-container {
    flex-basis: 42%;
    .f-text {
      flex: 4;
      padding-right: 0.9rem;
      .f-title {
        font-size: 1.2rem;
      }
      .f-description {
        font-size: 0.9rem;
        line-height: 1.2rem;
      }
    }
    .f-img {
      flex: 3;
    }
  }
}

@media screen and (max-width: 600px) {
  .f-container {
    flex-basis: 100%;
    .f-text {
      .f-title {
        font-size: 1.4rem;
      }
    }
  }
}